@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: normal; /* применить разные размеры шрифтов по факту */
}

.container {
    max-width: 1470px;
    padding: 0 15px;
    margin: 0 auto;
}
/*
p {

} */ 