@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: normal; /* применить разные размеры шрифтов по факту */
}

.container {
    max-width: 1470px;
    padding: 0 15px;
    margin: 0 auto;
}
/*
p {

} */ 

.header {

}
.container {
    display: flex;
    justify-content: space-between;
}

.logo {
font-size: 32px;
line-height: 60px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #F7F7F7;
}

.header__nav {
    
}

.header__nav a {
font-size: 23px;
line-height: 60px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #F7F7F7;
}

