@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: normal; /* применить разные размеры шрифтов по факту */
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
/*
p {

} */ 


/* адаптивная верстка */

@media (max-width: 1200px) {
    .adaptive {
        width: 1024px;
    }
}

@media (max-width: 1024px) {
    .adaptive {
        width: 768px;
    }
}

@media (max-width: 768px) {
    .adaptive {
        width: 420px;
    }
}

@media (max-width: 420px) {
    .adaptive {
        width: 340px;
    }
}


 /* стили для шапки */

.header {
    width: 100%;
    min-height: 780px;
    background-image: url(/image/Rectangle.png);
    background-size: 100%;
    background-position: center;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 19px;
    gap: 20px;
}

.header .nav li {
    padding: 0 10px;
}

.li {
    text-decoration: none;
    list-style: none;
    display: inline-block;
}

.logo {
    display: flex;
}

.WILDLIFE {
    font-family: Open Sans;
    font-size: 32px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #f7f7f7;
}

h1 {
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.elements {
    
}

.articles {
    font-family: Open Sans;
    font-size: 23px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;  
    justify-content: space-between; 
    color: #f7f7f7;
}
.contact {
    font-family: Open Sans;
    font-size: 23px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    justify-content: space-between;
    color: #f7f7f7;
}
.login {
    background-image: url(/image/Rectangle\ —\ копия.png);
    font-size: 23px;
    font-weight: 400;
    line-height: 26.95px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #f7f7f7;
}

