/* шрифты */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* адаптивная верстка */

@media (max-width: 1200px) {
    .adaptive {
        width: 1024px;
    }
}

@media (max-width: 1024px) {
    .adaptive {
        width: 768px;
    }
}

@media (max-width: 768px) {
    .adaptive {
        width: 420px;
    }
}

@media (max-width: 420px) {
    .adaptive {
        width: 340px;
    }
}

/* parents */

.wrapper {
    max-width: 1275px;
    margin: 0 auto;
}

.body {
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 23px;
    line-height: 60px;
    font-weight: normal;
    color: #333333;
}

/* header  styles start */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #f7f7f7;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__item {
    margin-right: 61px;
}

.header__item:last-child {
    margin-right: 0;
}

.header__logo-link {
    display: flex;
    flex-direction: row;
}
.logo {
    font-family: 'Roboto';
    font-size: 32px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-left: 15px;
}

.header__link {
    font-family: 'Open Sans';
    font-size: 23px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #f7f7f7;
}

.header__list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sing-in__button {
    font-family: Roboto;
    font-size: 23px;
    font-weight: 400;
    line-height: 26.95px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #F7F7F7;
    background: transparent;
    height: 50px;
    padding: 10px 25px;
    border: 2px solid #CD6326;
    border-radius: 5px;
}

.header__search-pic {
    padding-top: 19px;
}

.header__link:hover, .header__link:focus, .header__link:active {
    color: #CD6326;
}

.header__links:hover, .header__links:focus, .header__links:active {
    color: #CD6326;
}

/* header  styles end */

/* intro  styles start */

.intro {
    height: 100vh;
    background: url(/src/assets/img/Hero.png) no-repeat center;
    background-size: cover;
    padding-top: 210px;
}

.intro__title {
    font-family: Open Sans;
    font-size: 48px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: 2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #CD6326;
    margin-bottom: 51px;
}

.intro__subtitle {
    max-width: 274px;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #F7F7F7;
    margin-bottom: 49px;
}

.intro__button {
    padding: 16px 42px;
    font-family: Roboto;
    font-size: 23px;
    font-weight: 400;
    line-height: 26.95px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #F7F7F7;
    background: #CD6326;
    border-radius: 5px;
}

.intro__button:hover, .intro__button:focus, .intro__button:active {
    background: #743511;
}
/* intro  styles end */

/* main styles start */

.main__title {
    display: flex;
    align-items: center;
    padding-top: 120px;
    font-family: Open Sans;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #333333;
}

.main__subtitle {
    font-size: 48px;
    font-weight: 400;
    line-height: 72px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.main__subtext {
    padding-top: 20px;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #666666;
}
/* main styles end */